.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--s-5);
  padding-block: var(--s-5);
}

@media (max-width: 30rem) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: var(--s-4);
  }
}
